* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 100%;
  box-sizing: border-box;
}

.header-section {
  background-image: url(images/mobile/image-hero.jpg);
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 20%;
}

.header-flex {
  display: flex;
  width: 100%;
  padding-bottom: 20%;
}

.logo-img {
  width: 40%;
  display: block;
  padding-top: 6%;
  margin-left: 4%;
}

.toggle-on-cont {
  text-align: right;
  padding-top: 6%;
  margin-left: 40%;
}

.toggle-off-cont {
  text-align: right;
  padding-top: 6%;
  visibility: hidden;
}

.close-icon {
  cursor: pointer;
  background: transparent;
  border-width: 0;
}

.toggle-on {
  cursor: pointer;
  background: transparent;
  border-width: 0; 
}

.toggle-off {
  cursor: pointer;
  background: transparent;
  border-width: 0;
  position: relative;
}

.menu-container {
  width: 100%;
  visibility: hidden;
  background: hsl(0, 0%, 0%);
  position: absolute;
  top: 0;
  padding: 33.5% 0 54% 0;
}

.menu-container ul li {
  list-style: none;
  
  padding: 5% 0% 0% 5%;
}

.menu-container ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: left;
}

.press {
  visibility: visible;
  transition: 0.5s easy-in-out;
  
}

.press2 {
  visibility: visible;
  position: absolute;
  z-index: 100;
  right: 10%;
}

.press3 {
  visibility: hidden;
}

.press4 {
  z-index: 101;
}

h1 {
  width: 90%;
  color: hsl(0, 0%, 100%);
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  padding: 5%;
  margin: 10% auto 40% auto;
}

.attribution {
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}